@import "tailwindcss";

:root {
  --background: #F7F3EE;
  --foreground: #1C2B1A;
}

@theme {
  --color-guacamaya: #C45E2A;
  --color-selva: #1C2B1A;
  --color-coco: #F7F3EE;
  --color-araguaney: #C09016;
  --color-caribe: #184E68;
  --color-emergencia: #B01818;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-jakarta);
  --font-sans: var(--font-source);
}

body {
  background: var(--background);
  color: var(--foreground);
}
